<div class="container">
  <div class="alert alert-danger" *ngIf="mode==0 && errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="panel panel-success" *ngIf="mode==1">
    <div class="panel-heading">
      <strong>New task save Success </strong>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          Your task  : {{task.message}}
        </li>
      </ul>
    </div>
    </div>
  </div>
  <div class="row col-md-6 col-md-offset-3" *ngIf="mode==0">
    <div class="panel panel-primary">
      <div class="panel-heading">New Task</div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onPost(f.value)">
          <div class="form-group">
            <label class="control-label">Task name</label>
            <textarea rows="4" cols="50" name="message"  ngModel class="form-control">
            Enter your task
            </textarea>
          </div>
          <button type="submit" class="btn btn-danger" [disabled]="!f.valid">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
